<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="${application_name}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/libs/webix.min.css" type="text/css">
    <script th:src="@{/libs/webix.js}"></script>
    <script th:src="@{/libs/routie.min.js}"></script>
    <script th:src="@{/libs/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/libs/skin.js}"></script>
<!--    <link type="text/css" rel="stylesheet" th:href="@{/libs/webix.css}">-->
    <link type="text/css" rel="stylesheet" th:href="@{/libs/all.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/fond/fond.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/images.css}">
<!--    <script type="text/javascript" src="/js/utils/image.js"></script>-->
    <style>
        /*@import url(//fonts.googleapis.com/css2?family=Montserrat);*/
        /*.webix_view{*/
        /*    font-family:Montserrat, sans-serif;*/
        /*}*/
    </style>
</head>
<body>
<script type="module" th:src="@{/js/views/normative_docs_view.js}"></script>
<script th:inline="javascript">
</script>
</body>
</html>
